body{
    margin: 0;
    background-color: #E7EAF0;
}

.header {
    display: flex;
    flex-direction: row;
    background-color:  #F8F5EC;
    padding-left: 380px;
    border-bottom: 4px solid #184062; 
}

.texto{
    color:#184062; 
}

.quadro{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    margin-top: 100px;
    margin-left: 575px;
    width: 700px;
    height: 400px;
    background-color: #F8F5EC;
    border: solid black 1px;
    border-radius: 5px;
    box-shadow: #5C5B5B 10px 10px 10px;
    padding-bottom: 20px;
}

.divisao{
    font-size: 18px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

.container1{
    justify-content: space-around;
    margin-right: 40px;
}

.input{
    padding-left: 10px;
    font-weight: bold;
    font-size: 15px;
    background-color: #ffffff;
    border-radius: 3px;
    border: 2px solid #5C5B5B;
    height: 25px;
    width: 225px;
}

.buttonDivisao{
    display: flex;
    flex-direction: row;
    padding-right: 260px;
}

.button1{
    color: #ffffff;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    height: 30px;
    width: 110px;
    background-color: #00BF63;
    margin-right: 20px;
}

.button2{
    color: #ffffff;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    height: 30px;
    width: 110px;
    background-color: #FF3131;
    margin-right: 20px;
}
