/* inicio do menu lateral */
*{
  margin: 0;
  padding: 0;
}

body{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    background-color: #E7EAF0;
  
  }
  
  
  
  #imgPerfil{
    height: 100px;
    width: 120px;
    margin-bottom: 20px;
  }
  
  #menuLateral{
    height: 100%;
    width: 22%;
    background-color: #184062;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    text-align: center;
    padding-top: 2%;
  }
  
  .seila{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .seila2{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 220px;
    border-bottom: solid white 2px;
  }
  
  #menuLateral a{
    padding: 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    cursor: pointer;
    width: fit-content;
  }
  
  #menuLateral p{
    font-size: 30px;
    color: white;
    display: block;
    font-weight: bold;
    margin-bottom: 10%;
  }
  
  .gambiarra{
    color: #F8F5EC;
  }
  
  #buttonDeslogar{
    border: none;
    color: black;
    background-color: #F8F5EC;
    font-weight: bold;
    font-size: 15px;
    width: 80px;
    height: 35px;
    margin-top: 15px;
    border-radius: 5%;
    justify-content: center;
    align-items: center;
  }
  
  /* fim do menu lateral */
  
  
  .header{
    background-color: #f8f5ec;
    color: #184062;
    margin-left: 22%;
    height: 60px;
    border-bottom: 4px solid rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
  } 

.header p{
  display: flex;
  margin-right: 50%;
  font-size: 40px;
  text-align:center;
  justify-content: center;
}
  /* inicio conteudo principal */

  #conteudoPrincipal{
    margin-left: 23%;
  }

 /* alertas umidade */
  .container{
    display: flex; 
    flex-direction: column; 
    align-items: center;
    position: absolute; 
    top: 20vh;
    left: 65vh;
    padding-top: 30px;
    background-color: white;
    height: 70vh; 
    width: 60vw; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-weight: bolder; 
    box-shadow: #0000006b 0px 7px 7px;
  }

  .central{
    background-color: #FF3131;
    font-size: 20px;
    width: 100px;
    height:125px;
   
}


/* fim dos alertas */

  