/*header*/

body{
    margin: 0;
    background-color: #e7eaf0;
}

.header {
    background-color:  #f8f5ec;
    display: flex;
    padding-left: 400px;
    border: none; 
    border-bottom: 4px solid #000; 
}

.titulo{
    font-size: 25px;
    color:#184062 ; 
}