* {
    margin: 0;
    padding: 0;
}

.logo{
    align-items: flex-start;
    width: 350px;
}

.header{
 background-color: #F8F5EC;
 width: 100%;
 height: 100px;
 border-bottom: 4px solid rgb(0, 0, 0);
 font-family: 'Montserrat', sans-serif;
 
}

.header .container {
    width: 80%;
    height: 100%;
    margin: 0 10% ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container li{
    display: inline;
    padding: 20px;
}

.header .container .navbar li a{
    text-decoration: none;
    color: #794830;
}

.logo{
    align-items: flex-start;
    width: 350px;
}

.buttonHome {
    color: #F8F5EC;
    background-color: #794830;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 15px;
    width: 100px;
    height: 35px;
    border-radius: 8px;
    border: 4px solid #794830;
    box-shadow: 0px 0px 0px 2px rgba(255,255,255,1), 0px 0px 0px 5px rgba(121,72,48,1);
}

.imagem_principal {
    background-image:linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../assets/Grãos_Home.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 84vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;

}

.imagem_principal h1{
    background: none;
    color: white;
    font-size: 40px;
}

.titulo_empresa {
    background-color: #794830;
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.titulo_empresa h1{
    background: none;
    color: white;
    font-size: 30px;
}

.sobre_empresa img {
   height: 80vh;
   width: 50vw;
   float: left;
   margin-right: 7%;
}

.conteudo_empresa {
    display: flex;
    flex-direction:column;
    width: 35%;
    height: 10px;
    margin-top: 5%;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
}

.conteudo_empresa h2 {
    color: #BD7F4A;
    margin-bottom: 20px;

}

.conteudo_empresa p {
    margin-bottom: 20%;
    font-size: 20px;
}