@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300&display=swap');

#principal {
    color: #794830;
    margin-left: 10%;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.input {
    width: 30%;
    margin: 20 auto;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    background-color: #ffffff;
}

.divExternaSenha {
    height: 400px;
    width: 500px;
    border-radius: 10px;
    text-align: end;
    margin-top: 130px;
}

.titulos2 {
    text-align: center;
    height: 0px;
    width: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: space-around;

}

.e-mail {
    margin-left: 90px;
}

.flex-containerSenha {
    width: 310px;
    height: 310px;
    display: flex;
    padding-top: 100px;
    margin: 10px;
    font-size: 25px;
    background-color: #f8f6f6f5;
    font-family: 'Poppins', sans-serif;
    border-radius: 1000px;
}
#sombra {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 6px 8px 5px #a7a0a0;
}
.FundoImagem {
    display: flex;
    height: 100vh;
    width: 100%;
    background-image: url(../assets/Fundo.png);
    background-size: cover;
    justify-content: center;
}

.voltar{
    text-decoration: none;
    color: #794830;
}

#containderFooter {
    display: block;
    position: absolute;

}

#rodape {
    padding: 20px;
    text-align: center;
}

#icones,
#infos,
#termos {
    list-style: none;
    padding: 10px;
    color: #fff;
}

#icones li,
#infos li,
#termos li {
    display: inline;
    margin: 0 10px;

}

#icones img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#infos a,
#termos li {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #fff;

}

#direitos {
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    font-size: 14px;
    color: #fff;
}

.back-Rodape {
    background-color: #2A1A17;
}

.back-Rodape li,
li a,
li img {
    background-color: #2A1A17;
}

.buttonRedefinirSenha {
    color: #F8F5EC;
    text-align: flex;
    background-color: #AD713A;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 15px;
    width: 180px;
    height: 50px;
    margin-top: 10px;
    border: 4px ;
    border-radius: 10px;
}

.e-mail {
    text-align: start;
}

.inputE-mail {
    padding-left: 10px;
    font-weight: bold;
    font-size: 15px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 2px solid #5C5B5B;
    height: 30px;
    width: 315px;
}