/* inicio do menu lateral */
*{
  margin: 0;
  padding: 0;
}
body{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    background-color: #E7EAF0;
  
  }
  
  
  
  #imgPerfil{
    height: 100px;
    width: 120px;
    margin-bottom: 20px;
  }
  
  #menuLateral{
    height: 100%;
    width: 22%;
    background-color: #184062;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    text-align: center;
    padding-top: 2%;
  }
  
  .seila{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .seila2{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 220px;
    border-bottom: solid white 2px;
  }
  
  #menuLateral a{
    padding: 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    cursor: pointer;
    width: fit-content;
  }
  
  #menuLateral p{
    font-size: 30px;
    color: white;
    display: block;
    font-weight: bold;
    margin-bottom: 10%;
  }
  
  .gambiarra{
    color: #F8F5EC;
  }
  
  #buttonDeslogar{
    border: none;
    color: black;
    background-color: #F8F5EC;
    font-weight: bold;
    font-size: 15px;
    width: 80px;
    height: 35px;
    margin-top: 15px;
    border-radius: 5%;
    justify-content: center;
    align-items: center;
  }
  
  /* fim do menu lateral */
  
  
  .header{
    background-color: #f8f5ec;
    color: #184062;
    margin-left: 22%;
    height: 60px;
    border-bottom: 4px solid rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
  } 

.header p{
  display: flex;
  margin-right: 50%;
  font-size: 40px;
  text-align:center;
  justify-content: center;
}
  /* inicio conteudo principal */

  #conteudoPrincipal{
    margin-left: 23%;
  }
 /* alertas umidade */
  .containerAlert{
    display: flex;
    height: flex;
    width: flex;
    margin: 10px;
    background-color: gray;
    justify-content: space-between;
    text-align: center;
    line-height: 125px;
  }

  .alerta-vermelho{
    background-color: #FF3131;
    font-size: 20px;
    width: 125px;
    height:125px;
   
}
.alerta-laranja{
    background-color: #FF914D;
    font-size: 20px;
    width: 125px;
    height:125px;
    
}
.alerta-amarelo{
    background-color: #efb661;
    font-size: 20px;
    width: 125px;
    height:125px;
    
}
.alerta-verde{
    background-color: #58c758;
    font-size: 20px;
    width: 125px;
    height:125px;
    
}

/* fim dos alertas */

  